<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="use-credentials">
        <script src="/js/jquery-1.12.1.min.js" integrity="sha384-F7n3undrbWQvHm0AKtDnmXEJtmwOMrz6OI1A1JpsI13QF+H/j0Mv0W9gHaOXJ65k" crossorigin="use-credentials"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="use-credentials"></script>
    {% block head %}{% endblock %}</head>
    <body>{% block body %}{% endblock %}</body>
</html>


